### Import Data

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
# Import data
data_df = pd.read_csv('../datasets/SandP500/S&P500_Stock_Data.csv')

In [4]:
data_df.head()

   Interest Rates  Employment  S&P 500 Price
0        1.943859   55.413571    2206.680582
1        2.258229   59.546305    2486.474488
2        2.215863   57.414687    2405.868337
3        1.977960   49.908353    2140.434475
4        2.437723   52.035492    2411.275663

In [5]:
data_df.describe()

       Interest Rates   Employment  S&P 500 Price
count     1000.000000  1000.000000    1000.000000
mean         2.195392    56.254855    2319.999936
std          0.241630     4.862178     193.854745
min          1.500000    40.000000    1800.000000
25%          2.035735    53.029784    2190.447901
50%          2.198214    56.160941    2312.443024
75%          2.359061    59.422633    2455.764327
max          3.000000    70.000000    3000.000000

In [6]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
Interest Rates    1000 non-null float64
Employment        1000 non-null float64
S&P 500 Price     1000 non-null float64
dtypes: float64(3)
memory usage: 23.5 KB

In [7]:
data_df.shape

(1000, 3)